.componentDiv{
    display: flex;
    justify-content: space-between;
}
#componentOne{
  margin-left: 0rem;
    margin-right: 3rem;
}
#componentTwo{
   margin-left: 3rem;
}
@media screen and (max-width: 960px) {
    .componentDiv {
        justify-content: center;
        flex-wrap: wrap;
    }
    #componentOne{
      margin-left: 20rem;
  }
  #componentTwo{
     margin-left: 2rem;
  }
  }